
.main{
  background-color:#000066;
}
.h1{
  color: white;
  text-align: center;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  width: 600px;
  margin-bottom: 50px;
  margin-top: 100px;

}

.header {
  position: fixed;
  top:0;
  left: 0;
  display: flex;
  justify-content: space-around;
  height: 100px;
  width: 100%;
  align-items: center;
  background-color: white;


  .img {
    height: 40px;
  }

  .button1 {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    height: 43px;
    flex-shrink: 0;
    background: #ff6600;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 15px;
  }


}

.quadras{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 100px;
}

.quadra1{
  display: flex;
  width: 600px;
  height: 200px;
  background: #ff6600;
  color: #FFF;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1.28px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.quadra2{
  display: flex;
  width: 600px;
  height: 200px;
  background: #ff6600;
  color: #FFF;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1.28px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.quadra3{
  display: flex;
  width: 600px;
  height: 200px;
  background: #ff6600;
  color: #FFF;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1.28px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.footer{
  height: 180px;
  flex-shrink: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .textf{
    color: #001f76;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}




@media (max-width: 390px) {

  .h1{
    text-align: center;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    width: 325px;
    margin-bottom: 50px;

  }


.header{
  height: 80px;
  .img{
    height: 30px;
  }
  .button1{
    font-size: 18px;
    height: 30px;
  }
}

  .quadra1 , .quadra2 , .quadra3{
    width: 350px;
    height: 100px;
  }


  .footer{
    height: 128px;
    margin-top: 100px;

    .textf{
      font-size: 12px;
    }
  }

}
@media (max-width: 430px) {

  .h1{

    text-align: center;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    width: 325px;
    margin-bottom: 50px;

  }


  .header{
    height: 80px;
    .img{
      height: 30px;
    }
    .button1{
      font-size: 18px;
      height: 30px;
    }
  }

  .quadra1 , .quadra2 , .quadra3{
    width: 350px;
    height: 100px;
  }


  .footer{
    height: 128px;
    margin-top: 170px;

    .textf{
      font-size: 12px;
    }
  }

}
