

.div{
  width: 100%;
  height: 613px;
  flex-shrink: 0;
  background: #ff6600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
.texts{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  margin-left: 200px;
}

.h1{
  width: 800px;
  text-align: right;
  color: #FFF;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.span{
  text-align: right;
  color: #FFF;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 800px;
}

.button{
  background: #000066;
  width: 420px;
  height: 70px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 900;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 390px) {

  .div{
    height: auto;
    width: auto;
    flex-direction: column;
    padding: 30px 0px;
    gap: 30px;
  }
  .texts{
    width: 390px;
    align-items: center;
    margin-left: 0px;
  }
  .img {
    height: 20%;
    width: 70%;
  }

  .h1{
    width: 320px;
    font-size: 25px;
    text-align: center;
  }
  .span{
    font-size: 15px;
    width: 340px;
    text-align: center;

  }

  .button{
    text-align: center;
    font-size: 20px;

    width: 200px;
    height: 50px;

  }


}
@media (max-width: 450px) {

  .div{
    height: auto;
    width: auto;
    flex-direction: column;
    padding: 30px 0px;
    gap: 30px;
  }
  .texts{
    width: 390px;
    align-items: center;
    margin-left: 0px;
  }
  .img {
    height: 20%;
    width: 70%;
  }

  .h1{
    width: 320px;
    font-size: 25px;
    text-align: center;
  }
  .span{
    font-size: 15px;
    width: 340px;
    text-align: center;

  }

  .button{
    text-align: center;
    font-size: 20px;

    width: 200px;
    height: 50px;

  }



}
